.header-color {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #27dce9, #4330f1, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #27dce9, #4330f1, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #27dce9, #4330f1, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #27dce9, #4330f1, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  /* position: fixed; */
  top: auto;
  left: auto;
  width: 100%;
  height: 100%;
}
/*projects Page css*/
.projects-grid {
  display: flex;
  background-color: rgb(119, 113, 113);
  font-family: "Poppins", sans-serif;
}

/* Resume Page css */
.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
  font-family: "Poppins", sans-serif;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
}
.contact-grid h2 {
  font-family: "Poppins", sans-serif;
}

.contact-grid p {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}


/* contact page css */

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: grey;
}

.banner-text hr {
  border-top: 5px dotted grey;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: grey;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: grey;
  font-size: 5em;
  padding: 8px;
}

/*contactus form css */
.contact-form {
  margin-bottom: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.contact-form label {
  display: block;
  font-size: 16px;
  color: rgb(44, 40, 40);
  text-align: center;
  font-weight: bold;
  padding: 15px;
  font-family: "Poppins", sans-serif;
}

.contact-form input {
  display: center;
  min-width: 250px;
  line-height: 1.5;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  align-items: center;
  height: auto;
  
}
.contact-form textarea{
  justify-content: center;
  align-items: center;
  height: auto;
  display: center;
  font-family: "Poppins", sans-serif;
}

.contact-form input[type="submit"] {
  display: center;
  padding: 7px 30px;
  font-size: 16px;
  background-color: #c74cc1;
  color: rgb(43, 39, 39);
  border: none;
  text-align: center;
  font-family: "Poppins", sans-serif;
}